* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

h3 {
    text-align: right;
    margin: 100px;
}

.game {
    position: absolute;
    top: 4rem;
    left: 50%;
    transform: translate(-50%);
    width: auto;
    height: auto;
    background: rgb(117 208 115);
    border: 1px solid black;
    box-shadow: 10px 10px rgb(0, 0, 0, 0.441);
    padding: 1.5rem;
}

.slot {
    width: 50px;
    height: 50px;
    background: white;
    border: 1px solid black;
    border-radius: 50%;
}

.reset {
    position: absolute;
    top: 70vh;
    left: 50%;
    transform: translate(-50%);
    border: 1px solid black;
    width: 5rem;
    text-align: center;
    cursor: pointer;
}